$color-warning : yellow;

.navigation {
    background-color: $color-warning;

    li {
        display: inline-block;
        margin-left: 30px;

        &:first-child {
            margin: 0;
        }
    }
}